// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ro-link{
  margin: 30px 0!important;
}
.ro-out-marging{
  margin: 20px 0;
}

.ro-button-flex{
 position: relative;
}

.ro-icon-button {
  position: absolute;
  left: 10px;
  font-size: 30px
}

.ro-margin-top{
  margin-top: 50px;
}
.item-md{
  padding-left: 0;
}
.ro-avatart{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.ro-font-grey{
  color:grey;
}
.item-md ion-avatar img {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 0;
}
.dot {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
  border: 2px solid #ccc;
}
.dot-white{
  background-color: #fff;
}

.dot-green{
  background-color: #00fe00;
}
.dot-yellow{
  background-color: #fffe00;
}

.dot-orange{
  background-color: #ff8600;
}

.dot-red{
  background-color: #ff0100;
}

.row-dots {
  text-align: center;
  border-bottom: 1px solid #dedede;

}

ion-backdrop{
  opacity: .7;
}

.popover-content{
  top: 0!important;
  left: 0!important;
  width: 100%!important;
  height: 100%!important;
  max-height: 100%!important;
  overflow: hidden;
  background:none!important;
  box-shadow:none!important;

}

.popover-viewport {
  height: 100%;
}
.dot.selected {
    border-width: 2px;
    border-color: #327eff;
}
.popover-page .dot {
    border: 2px solid #ccc;
}

#popover-menu{
  width: 300px;
  height: 300px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  right: -120px;
  margin: auto;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index:1;
  background: #001018;
  .item{
	border: 1px solid;
	.label-md {
		display: flex;
		align-items: center;
		}
	}
  ion-list{
	width:100px;
	.list-md{
		margin:0;
		}
	}

	.round-menu-main{
	min-height: 6.0rem;
	margin-top: 2rem;
    margin-bottom: 2rem;
	width: 60px;
    height: 60px;
	border-radius: 50%;
	/*border: none;*/
    &#showLevel{background: url(../assets/icon/round_menu_icons.jpg) -122px 0 no-repeat}
    &#getCamera{background: url(../assets/icon/round_menu_icons.jpg) -61px 0 no-repeat}
    &#openFile{background: url(../assets/icon/round_menu_icons.jpg) 0 0 no-repeat}
    &#closeMenu{background: url(../assets/icon/round_menu_icons.jpg) -181px -1px no-repeat}
	.item-inner {
    border: none;
}
	.ro-icon-button{
		position: absolute;
		left: 10px;
		font-size: 4.4rem;
		/*top: 0;*/
	}
}
}

#popover-level-list {
  width: calc(100% - 120px);
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index:0;
  .row-dots{
	border-bottom:none;
  }
}
.wrap-button-block{
  margin: auto;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level-text {
    font-size: 2.5rem;
    color: white;
}

.hideElement{
display:none;
}

.add-file-name {
    position: absolute;
    width: 200px;
    background: white;
    bottom: 0;
}

button#clearDataClick {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 2px;
  right: 20px;
  border-radius: 50%;
  background: url(../assets/icon/round_menu_icons.jpg) -246px -3px no-repeat;
  z-index: 10;
}
.range{
  display: none;
  &.my-class{
    display:block;
    position: absolute;
    z-index: 100;
    top: 45px;
    background: white;
    padding: 40px;
  }
}


